@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  h1 {
    margin: 0;
    padding: 0;
  }
  button {
    border: none;
    background-color: white;
  }
  p {
    margin: 0;
    padding: 0;
  }
  input{
    border: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
  }
  input:focus{
    outline: none;
    box-shadow: none;
  }
}
.parent {
  margin: auto;
  display: flex;
  flex-direction: column;
  // width: 100%;
  max-width: 1440px;
  padding: 32px 64px;
  gap: 32px;
  
}
.header {
  margin: auto;
  display: flex;
  width: 100%;
  max-width: 1312px;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  h1 {
    color: #101828;
    font-size: 1.5rem;
    line-height: 32px;
    font-weight: 600;
  }
  .add-task-show {
    background-color: #0c39c7;
    max-width: 143px;
    width: 100%;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 0.875rem;
    font-weight: 600;
    color: white;
    line-height: 20px;
    border: none;
  }
  .hr {
    width: 100%;
    height: 1px;
  }
}
.search-sort {
  margin: auto;
  max-width: 1312px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.search {
  // background-color: yellow;
  display: flex;
  gap: 8px;
  width: 100%;
  max-width: 578px;
  border-radius: 8px;
  border: 1px solid #cecece;
  padding: 10px 14px;
  justify-content: space-between;
}
#search-task {
  max-width: 1312px;
  width: 100%;
  // background-color: red;
  max-width: 522px;
  height: 24px;
}
.sort{
  font-size: .875rem;
  color: #09174A;
  font-weight: 600;
  display: flex;
  gap: 20px;
  align-items: center;
  line-height: 17.07px;
  select{
    height: 35px;
    border: 1px solid #cecece;
    option{
      border: none;
      font-family:"Montserrat", sans-serif; ;
      background-color:#0C39C7 ;
      border-radius: 5px;
      font-size:0.875rem;
      color: white;
      font-weight: 500;
    }
  }
  select:focus{
    outline: none;
    box-shadow: none;
  }
}
.task-container {
  margin: auto;
  max-width: 1312px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.task-container-header {
  max-width: 1312px;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 21.94px;
  color: #8B8B8B;
}
.task-child{
  display: flex;
  flex-direction: column;
  max-width: 1312px;
  width: 100%;
  gap: 20px;
}
.task-card {
  width: 100%;
  max-width: 1312px;
  display: flex;
  border-radius: 8px;
  border: 1px solid #cecece;
}
.task-card-sub {
  max-width: 1264px;
  width: 100%;
  display: flex;
  gap: 14px;
  padding: 24px;
}
.task-card-contents {
  max-width: 1218px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.task-description{
  font-size: 0.875rem;
  font-weight: 400;
  color: #475467;
  line-height: 20px;
}
/* Index.css */
/* Index.css */
.task-card .card-date {
  max-width: 120px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 8px;
  border-radius: 4px;
}

.task-card .card-date img {
  width: 20px;
  height: 20px;
}

.task-card .card-date.overdue {
  background: #C035030F ; /* Light red background */
  color: red; /* Red text color */
}

.task-card .card-date.overdue img {
  filter: invert(33%) sepia(100%) saturate(7452%) hue-rotate(359deg) brightness(100%) contrast(113%);
  /* Red filter for the calendar icon */
}


.task-card-title {
  // background-color: yellow;
  max-width: 1218px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
}
.task-card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-size: 1.175rem;
  line-height: 21.94px;
  font-weight: 600;
  color: #282829;
}
.indicator{
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: #EBB705;
  border-radius: 50%;
}
.indicator.indicated{
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: #26AD13;
  border-radius: 50%;
}
.task-card-buttons {
  display: flex;
  gap: 16px;
  // background-color: red;
}
.cancel-btn{
  border-radius: 8px;
  padding: 10px 20px;
  border: 1px solid #d0d5dd;
  font-size: 1rem;
  font-weight: 500;
  color: #7E7E7F;
}
input[type="checkbox"] {
  appearance: none;
  /* default style */
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50px;
  cursor: pointer;
}
.checked input:checked[type="checkbox"] {
  display: none; /* Hide the default checkbox */
}
.task-form-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 654px;
  width: 100%;
  border-radius: 12px;
  padding: 40px;
  gap: 32px;
  background-color: white;
  position: absolute;
  // z-index: 10;
  border: 1px solid #cecece;
}
.desc-img{
  display: flex;
  gap: 5px;
}
.task-form-header {
  display: flex;
  justify-content: space-between;
  max-width: 574px;
  width: 100%;
}
.task-form-header-title{
  font-size: 1.25rem;
  color: #09174A;
  font-weight: 600;
  line-height: 24.38px;
}
.task-form-inputs {
  // background-color: yellowgreen;
  max-width: 574px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.task-form-inputs-item {
  max-width:574px ;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.input-parent {
  max-width: 578px;
  border-radius: 8px;
  background-color: white;
  border: 1px;
  border: 1px solid #d0d5dd;
  padding: 14px 16px;
}
.form-input {
  width: 100%;
}
.form-buttons {
  display: flex;
  gap: 12px;
  max-width: 574px;
  width: 100%;
  justify-content: end;
}
.task-submit-btn {
  max-width: 115px;
  background-color: #0c39c7;
  padding: 10px 20px;
  color: white;
  font-size: 1rem;
  line-height: 19.5px;
  font-weight: 500;
  border-radius: 5px;
}
.task-cancel-btn {
  max-width: 96px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
}
.add-task {
  width: 100%;
  background-color: #0c39c7;
  max-width: 115px;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
  line-height: 20px;
  border: none;
}
.clear-tasks-button {
  display: flex;
  grid-area: 8px;
  color: #0C39C7;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #0C39C7;
  font-size: 0.875rem;
  font-weight: 600;
}
/* DeleteConfirmation.css */
.delete-confirmation-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.delete-confirmation-content {
  width: 100%;
  max-width: 654px;
  background: white;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #cecece;
  p{
    color: #09174A;
    font-size: 1rem;
    font-weight: 500;
    line-height: 19.5px;
  }
}
.delete-title{
  font-size: 1.175rem;
  color: #09174A;
  line-height: 21.94px;
  font-weight: 600;
}
.delete-content-sub{
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.confirm-button, .cancel-button {
  color: #09174A;
  font-size: 1rem;
  font-weight: 500;
  line-height: 19.5px;
  max-width: 94px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.confirm-button {
  background-color: #C0070B;
  color: white;
}

.cancel-button {
  color: #7E7E7F;
  border: 1px solid #d0d5dd;
}
